/* Commom Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Jura", sans-serif;
  /* font-family: 'Yuji Boku', serif; */
}
html {
  font-size: 62.5%;
  color: white;
  scroll-behavior: smooth;
  /* will make 1 rem =10 pixels ;default 16 pixesl */
}
.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}
/******* Main button ********/
.main-btn{
  position: absolute;
  bottom: 1rem;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color:#9b0e0e;
  border: .3rem dotted white  ;
  /* padding: .1rem; */
  overflow: hidden;
}
.main-btn-content{
  width: 100%;
  height: 100%;
  /* border: .29rem dotted rgb(179, 227, 36); */
  border-radius: 50%;
  transform: rotate(45deg);
  transition: transform .2s, border .2s;
}
.main-btn:hover .main-btn-content{
  transform: rotate(60deg);
  border: .2rem dotted red;
  transition: transform 0.2s 0.3s, border 0.2s;
}
.main-btn-line{
  position: absolute;
  top: 4rem;
  width: 3rem;
  height: .5rem;
  border: .1rem solid #fff;
}
.main-btn-line:nth-child(1){
    transform: rotateZ(-45deg) translateX(-.65rem);
    transform-origin: left center;
    border-right:none;
}
.main-btn-line:nth-child(2){
    transform: rotateZ(45deg) translateX(.65rem);
    transform-origin: right center;
    border-left:none;
}
.main-btn-line:nth-child(3){
    transform: rotateZ(90deg) translate(0.5rem);
    border-left:none;
}
.main-btn span{
  position: absolute;
  bottom: 3rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.ripple{
  position: absolute;
  width: 0%;
  height: 0%;
  background-color: #fed325;
  opacity: .9;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  animation:rippleAnime .5s forwards;
}
@keyframes rippleAnime{
  0%{
    width: 0;
    height: 0;
  }
  100%{
    height: 250%;
    width: 250%;
  }
}
/* end of Main button */

/**************** end of common styling **********************/

/* mouse corcle */
.mouse-circle,
.mouse-dot {
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
.mouse-circle {
  width: 6rem;
  height: 6rem;
  border: 0.3rem solid #c7a622;
  animation: mouseCircleAnime 5s infinite linear;
}
.mouse-dot {
  width: 1rem;
  height: 1rem;
  background-color: #9b0e0e;
  animation: mouseDotAnime 1s infinite linear;
}

@keyframes mouseCircleAnime {
  0% {
    width: 6rem;
    height: 6rem;
  }
  25% {
    width: 8rem;
    height: 8rem;
  }
  35% {
    width: 4rem;
    height: 4rem;
  }
  70% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 6rem;
    height: 6rem;
  }
}

@keyframes mouseDotAnime {
  0% {
    width: 1rem;
    height: 0.6rem;
  }
  55% {
    width: 0.2rem;
    height: 0.1rem;
  }
  100% {
    width: 1rem;
    height: 1rem;
  }
}
/* Page backgraound */
.page-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background:  url(./images/bg5.jpg) center no-repeat;
  background-size: cover;
}

/* end of page-bg */

/* navigation  */
/* men icon  */
.menu-icon{
  position: fixed;
  width: 12rem;
  height: 7rem;
  top:0;
  right:6rem;
  flex-direction: column;
  opacity: 0;
visibility: hidden;
z-index: 100;
cursor: pointer;
}
.menu-icon-line{
  width: 4rem;
  height: .1rem;
  background-color: white;
  margin: .5rem 0;
  box-shadow: .3rem  .3rem black;
}
.show-menu-icon{
  opacity: 1;
  visibility: visible;
  transition: opacity .5s; 
}
/* End of menu icon  */
/* Navbar  */
.navbar{
  position: fixed;
  top: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  z-index: 100;
  transition: opacity .5s, visibility .5s,transform .5s ; 
}
.navbar-link{
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white  ;
  margin: 0 2.5rem;
  text-shadow: .3rem .5rem black;
  /* opacity: 0;
  visibility: hidden ; */
}
.hide-navbar{
  opacity: 0;
  visibility: hidden;
}
/* End of Navbar  */
/* End of navigation  */


/* Section 1 */
.section-1 {
  /* because bg is fixed and section ended up behind the bg */
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Logo */
.logo {
  position: absolute;
  top: 2rem;
  left: 5rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
/* End of Logo */

/* Animated Circles */
.main-circle {
  width: 55rem;
  height: 55rem;
  position:absolute;
  overflow: hidden;
  border-radius: 500%;
  transition:  width .2s,height .2s;
  /* position: relative; */
}
.main-circle:hover{
  width: 70rem;
  height: 70rem;
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* mix-blend-mode: hard-light; */
}
.circle {
  border-radius: 50%;
  width: 22rem;
  height: 22rem;
  align-self: center;
  justify-self: center;
  opacity: 0.5;
  position:relative;
  top: 0;
  left: 0;
  transition:left 2s,top 2s;
}
.circle-1 {
  background: url(./images/landing/circle-1-img.jpg) center no-repeat;
  background-clip: content-box;
  background-size: cover;
  border: 0.3rem dashed red;
  margin-left: -10rem;
}
.circle-2 {
  background: url(./images/landing/circle-2-img.jpg) center no-repeat;
  background-clip: content-box;
  background-size: cover;
  border: 0.3rem dotted yellow;
  margin-right: -10rem;
}
.circle-3 {
  background: url(./images/landing/circle-3-img.jpg) center no-repeat;
  background-clip: content-box;
  background-size: cover;
  border: 0.5rem double rgb(22, 184, 68);
  margin-left: -10rem;
}
.circle-4 {
  background: url(./images/landing/circle-4-img.jpg) center no-repeat;
  background-clip: content-box;
  background-size: cover;
  border: 0.5rem double rgb(0, 94, 255);
    margin-right: -10rem;
}
.main-circle img {
  width: 90rem;
  height: 90rem;
  mix-blend-mode: hard-light;
  position: relative;
  top: 0;
  left: 0;
  transition:left 2s,top 2s;
  /* mix-blend-mode: luminosity; */
}
/* End of Animated Circles */

/* Featured Text */
.featured-text {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  /* making words vertical */
  width: 0;
  word-wrap: break-word;
  line-height: 3.5rem;
  position: sticky;
  top: 0;
}
.featured-text-1 {
  /* top right bottom left */
  margin: 0 auto 0 10rem;
}
.featured-text-2 {
  margin: 0 10rem 0 auto;
}
/* End of Featured Text */



/* End of Section 1 */


/* Section 2  */
.section-2{
  position: relative;
  padding: 10rem 10rem 15rem 10rem;
}

.section-heading{
  font-size: 3rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top:50%;
  left:10rem; 
  transform: translateY(-50%);
  width: 0;
  word-wrap: break-word;
  line-height: 2;

}
/* About me txt */
.about-me-text{
  width: 80%;
  margin: auto;
  text-align: center;
}
.about-me-text span{
  /* font-family: 'Yuji Boku', serif; */
  font-size: 12rem;
  font-weight: bold;
  color: rgb(192, 237, 43);
  letter-spacing: .9;
  line-height: .9;
  text-shadow: 0 0 1rem rgb(199, 128, 128);
  position: relative;
  /* mix-blend-mode: overlay; */
  mix-blend-mode: soft-light; 
}

@keyframes aboutMeTextAnime {
  0%{
    color:rgb(102, 103, 98) ;
    mix-blend-mode: normal; 
    top:0;
  }
  10%,90%{
    
    color:rgb(192, 237, 43) ;
    mix-blend-mode: normal; 
    top:1rem;
  }
  100%{
    color:rgb(102, 103, 98) ;
    top:0;
    mix-blend-mode: normal; 
  }
  
}
/* En d of About me txt */
/* section 2 main-button  */
.section-2 .main-btn{
    left: 50%;
    bottom: -1rem;
    transform: translateX(-50%);
}

/*End of  section 2 main-button  */
/* End of Section 2  */

/* Secton 3  */
.section-3{
  /* width: 100%;
  height: 100%; */
  padding: 20rem 0 10rem 0;
  position: relative;
}
/* projects  */
.projects{
 flex-wrap: wrap;
 padding-bottom: 15rem;
}
.project{
  width: 40rem;
  height: 45rem;
  overflow: hidden;
  margin: 5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: .1rem solid red;
  border-radius: 1rem;
  cursor: pointer;
  /* create 3-d environment for elemnts so that skew */
  perspective: 20rem;
}
.project img{
  width: 90%;
  /* inorder to avoid shrinking  */
  object-fit: cover;
  position: absolute;
  top:2rem;
  transition: top 3s .2s;
  opacity: .5;
}
.project:nth-child(odd):hover img{
  opacity: 1;
animation:  oddImgAnime 4s 0.2s;
}
@keyframes oddImgAnime{
  0%{
    transform: rotate(0);
  }
  25%{
    transform: rotateY(-3deg) rotateX(3deg);
  }
  50%{
    transform: rotateY(3deg) rotateX(-3deg);
  }
  100%{
    transform: rotateY(0) rotateX(0);
  }
 
}
.project:nth-child(even):hover img{
  opacity: 1;
animation:  evenImgAnime 4s 0.2s;
}
@keyframes evenImgAnime{
  0%{
    transform: rotate(0);
  }
  25%{
    transform: rotateY(3deg) rotateX(-3deg);
  }
  50%{
    transform: rotateY(-3deg) rotateX(3deg);
  }
  100%{
    transform: rotateY(0) rotateX(0);
  }
 
}

/* End of projects  */
/* End of section 3  */

/* Section 4  */
.section-4{
  position: relative;
  width: 100%;
}

/* services  */
.services{
  width: 100%;
  flex-direction: column;
}
.service{
  width: 70%;
  margin: 2rem 0;
  border-bottom: .3rem solid red;
}
.service-btn{
  width: 100%; 
  position: relative;
  display: block;
  height: 15rem;
}
.service-btn span{
  font-size: 10rem;
  font-weight:bold;
  color: red;
  font-style: italic;
  font-family: 'Inconsolata', monospace;
  font-family: 'Yuji Boku', serif;
  position: absolute;
  right: 0;
  
}
.service-text{
  font-size: 3rem;
  color: rgb(214, 206, 206);
  letter-spacing: .1rem;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .2s;
  text-transform: uppercase;
}
.change.service-text{
  height: 12rem;
  visibility: visible;
  opacity: 1;
  transition: height .5s,opacity .5s .5s;
}
/*End of  services  */
/* End of Secton 4 */


/*  Secton 5 */
.section-5{
  position: relative;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
/* form  */
.form-heading{
  font-size: 6rem;
  font-weight: 400;
  color: red;
  letter-spacing: .3;
  margin-bottom: 3rem;
  transition: opacity .3s;
}
.contact-form{
  flex-direction: column;
}
.contact-form-input{
  width: 60rem;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: rgb(40, 38, 38);
  border: 0.1rem solid red;
  font-weight: bold;
  color: #aaa;
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
  height: 5rem;
}
.contact-form-textarea{
  height: 20rem;
  resize: none;
}
.form-submit-btn{
  width: 20rem;
  height: 5rem;
  background-color: red;
  border: #fed325;
  color: white;
  font-size: large;
  align-self: flex-start;
}
/* end of from  */

/* Slide Show  */
.slideshow{
  display: flex;
  width: 50rem;
  margin-top: 10rem;
  padding: .2rem;
}
.slideshow-link{
  width: 20%;
  filter: brightness(.5);
  transition: filter .5s;
}
.slideshow-link:nth-child(1),
.slideshow-link:nth-child(5){
  transition: width .5s, opacity .5s;
}
.slideshow-link img{
  width: 100%;
  padding: 0 1rem;
}
.faded-out{
  opacity: 0;
  width: 0;
}
.light{
  filter: brightness(1.5);
}
.slideshow:nth-child(3){
  transition: filter .5s;
}
/* End of Slide Show  */

/* End of Secton 4 */























/* Responsive */
@media screen and (max-width: 1650px){
  .section-heading{
    left:2rem;
  }
}
@media screen and (max-width: 1500px) {
  .circle{
    width: 20rem;
    height: 20rem;
  }
  .main-circle{
    width: 45rem;
    height: 45rem;
  }
  .main-circle img{
    width: 70rem;
    height: 70rem;
  }
  .main-circle:hover{
    width: 55rem;
    height: 55rem;
  }
  .about-me-text{
    font-size: 10rem;
  }
  .section-4{
    margin-bottom: 10rem;
  }
  .service-btn span{
    font-size: 9rem;
  }
  .service-text{
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 1340px) {
  .main-btn{
   width: 12.5rem; 
   height: 12.5rem; 
  }
  .circle{
    display: none;
  }
  .service-text{
    font-size: 3rem;
  }
  .about-me-text span{
    font-size: 10rem;
  }
}
@media screen and (max-width: 1150px) {
  html{
    font-size: 55%;
  }
  .mouse-circle,.mouse-dot{
    display: none;
  }
  .navbar-link{
    margin: 0 2rem;
  }
  .main-circle{
    width: 40rem;
    height: 40rem;
  }
  .main-circle:hover{
    width: 45rem;
    height: 45rem;
  }
  .about-me-text span{
    font-size: 7.5rem;
  }
  .service-btn{
    height: 12rem;
  }
  .service-btn span{
    font-size: 8rem;
  }
  .service-text{
    font-size: 2.8rem;
  }
  .slideshow{
    margin: 5rem 0;
  }
  .section-heading{
    left:2rem;
  }
}
@media screen and (max-width: 900px) {
  .menu-icon{
    right: -4rem;
  }
  .navbar-link{
    font-size: 1.5rem;
    margin: 0 1rem;
  }
  .featured-text-1{
    margin: 0 auto 0 5rem;
  }
  .featured-text-2{
    margin: 0 5rem 0 auto;
  }
  .about-me-text span{
    font-size: 5.5rem;
  }
  .service-btn{
    height: 9rem;
  }
  .service-btn span{
    font-size: 6rem;
  }
  .service-text{
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 700px) {
  html{
    font-size: 50%;
  }
.contact-form-input{
  width: 50rem;
}
.logo{
  left:2rem;
  font-size: 2.5rem;
}
.navbar{
  font: size 2rem;
}
}
@media screen and (max-width: 550px) {
  html{
    font-size: 40%;
  }
.main-circle img{
  width: 90rem;
  height: 90rem;
}
.main-circle {
  width: 50rem;
  height: 50rem;
}
.contact-form-input{
  width: 40rem ;
}
.slideshow{
  width: 45rem;
}
.slideshow-link img{
  padding: 0 1.1rem ;
}
.service-btn span{
  font-size: 4.5rem;
}
.service-text{
  font-size: 2rem;
}
.logo{
  font-size: 1.7rem;
  top: 13rem;
  left:50%;
  transform: translateX(-50%);
}
.navbar{
  justify-content: center;
}
}
@media screen and (max-width: 400px) {
  html{
    font-size: 35%;
  }
 
.main-circle img{
  width: 90rem;
  height: 90rem;
}
.main-circle {
  width: 50rem;
  height: 50rem;
}
.contact-form-input{
  width: 40rem ;
}
.slideshow{
  width: 45rem;
}
.slideshow-link img{
  padding: 0 1.1rem ;
}
.service-btn span{
  font-size: 4.5rem;
}
.service-text{
  font-size: 2rem;
}
.main-circle{
  width: 38rem;
}
.main-circle:hover{
  width: 42rem;
}
.main-circle:img{
  width: 200%;
  height: 200%;
}
.form-heading{
  font-size: 5rem;
}
}


/* End of Responsiveness */


/* html {
  font-size: 15%;
}
body {
  /* width: 90%; */
  /* overflow: auto;
}  */